@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: #48985b;
  box-sizing: border-box;
}
.card {
  text-align: center;
  display: inline-block;
  background: white;
  font-size: 80px;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  padding-top: 120px;
  border-radius: 5px;
  position: relative;

  &:before {
    /* content: "♠"; */
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 80px;
  }

  &:after {
    /* content: "♠"; */
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 80px;
    transform: rotate(180deg);
  }
  &.spade:before,
  &.spade:after {
    content: "♠";
  }
  &.club:before,
  &.club:after {
    content: "♣";
  }
  &.heart:before,
  &.heart:after {
    content: "♥";
    color: red;
  }
  &.diamond:before,
  &.diamond:after {
    content: "♦";
    color: red;
  }
}

.button {
  margin-top: 20px;
}

.sort {
  animation: sort 0.2s ease-in-out infinite alternate-reverse;
}

@keyframes sort {
  to {
    transform: translateX(-5px);
  }
  from {
    transform: translateX(5px);
  }
}
